doctype html
html
  head
    meta(name='description' content='Beer shop')
    meta(name='author' content='Kuzmiankou Anatoli')
    meta(charset='UTF-8')
    title!= title
    link(rel='stylesheet' type='text/css' href='/styles.css')
  body
    header
      h1 Beer Shop
    nav
      include nav.pug
    main
      if message
        div.message!= message
      div.main
        case page
          when '/log-in'
            include pages/log-in
            - break
          when '/sign-up'
            include pages/sign-up
            - break
          when '/goods'
            include pages/goods
            - break
          when '/goods/id'
            include pages/product
            - break
          when '/basket'
            include pages/basket
            - break
          when '/basket/orders'
            include pages/basket-orders
            - break
          when '/admin'
            include pages/admin
            -break
          when '/admin/model'
            include pages/admin-model
            -break
          default
            include pages/default
    footer
    script(src='/scripts.js')