div.menu
  ul.left
    li.menu-item
      a(href='/') Home
    li.menu-item 
      a(href='/goods') Goods
    if userData
      case userData.role
        when 'customers'
          li.menu-item 
            a(href="/basket") Basket
          -break
        when 'administrator'
          li.menu-item 
            a(href="/admin") Administrate
          -break
  ul.right
    if userData
      li.menu-item
        a(href='#') #{ userData.name } #{ userData.surname }
      li.menu-item
        a(href='/log-out') Log Out
    else
      li.menu-item 
        a(href='/log-in') Log In
      li.menu-item 
        a(href!='/sign-up') Sign Up