div.menu
  ul.left
    li.menu-item
      a item 1
    li.menu-item 
      a item 2
    li.menu-item 
      a item 2
  ul.right
    li.menu-item 
      a(href!=urls.logIn) Log In
    li.menu-item 
      a(href!=urls.signUp) Sign Up