body {
  margin: 0;
  color: #464547; }

header {
  background-color: #39C2D7; }

header > h1 {
  text-align: center;
  font-size: 4em;
  margin: 0;
  padding: 0.5em;
  color: #FFFFFF; }

nav {
  background-color: #39C2D7; }
  nav .menu {
    display: flex;
    align-items: stretch;
    border-top: #464547 solid 2px;
    justify-content: space-between; }
    nav .menu .menu-item a {
      font-size: 1.5em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      text-decoration: none;
      display: inline-block;
      color: #FFFFFF; }
    nav .menu .menu-item > a:hover {
      color: #464547; }
    nav .menu .left, nav .menu .right {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0; }
