.orders
  each item in userOrders
    .order
      .number Number: #{ item.id }
      .date Order: #{ item.date }
      .status Status: #{ item.status }
      a.link(href='/basket/orders/'+item.id) show more