.orders
  each item in userOrders
    .order
      .number #{ item.id }
      .date #{ item.date }
      .cost #{ item.cost }
      .status #{ item.status }
      a.link(href='/basket/orders/'+item.id) show more